html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

:root {
  --black-green: rgb(22, 119, 74);
  --yellow-one: #e1fd2c;
  --yellow-two: #d3ff04;
  --purple: #4f2479;
  --white: #ffffff;
  --pink: #f6a0a9;
  --turquoise: #bbd4d0;
  --black: #000000;
  --green-one: #1b951d;
  --green-two: #30922c;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto/static/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Roboto";
}

.headerAndHeroSection {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--black-green);
  color: var(--yellow-one);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7rem;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: clamp(5px, calc(1vw + 1rem), 5rem);
  border-top: 1px solid var(--yellow-one);
  border-bottom: 1px solid var(--yellow-one);
  height: 50%;
}

header > div a:nth-child(1) img {
  max-width: 100%;
  height: auto;
}
header > div .noodz-contains {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--black-green);
  background-color: var(--yellow-one);
  padding-inline: 2rem;
  height: 100%;
  position: relative;
}

header > div .noodz-contains:hover {
  color: rgba(22, 119, 74, 0.7);
}

header > div .noodz-contains::after {
  content: "";
  height: 3px;
  width: 0%;
  position: absolute;
  bottom: 30%;
  left: 10%;
  background-color: var(--pink);
  transition: all 0.6s ease-in;
}

header > div .noodz-contains:hover::after {
  width: 80%;
}

@media (max-width: 480px) {
  header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp(5px, calc(1vw + 1rem), 5rem);
    gap: 1.2rem;
    height: 50%;
  }

  header > div .noodz-contains {
    font-size: 1rem;
    color: var(--black-green);
    background-color: var(--yellow-one);
    padding: 0.5rem 1rem;
    text-align: center;
    position: relative;
  }
}

/* hero-section */

.hero-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

.hero-sectionText {
  z-index: 2;
  text-wrap: balance;
}

.hero-section h1 {
  font-size: clamp(1.8rem, calc(8vw + 1rem), 6.5625rem);
  text-transform: uppercase;
  letter-spacing: -2%;
  font-weight: normal;
  text-align: center;
}

.hero-section p {
  margin: 0 auto;
  text-align: center;
}
